<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="30">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&display=swap" rel="stylesheet">
    <style>
      body{
        background-image: url(https://www.img.in.th/images/292b5b1be077185b9654c7a4635a3f0d.jpg);
        color: white;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Roboto', sans-serif;
      }

      .detail{
        margin-bottom: 50px;
        font-size: 16px;
        text-align: center;
        padding: 10px;
      }

      .head{
        font-size: 48px;
        text-align: center;
        font-family: 'Luckiest Guy', sans-serif;
      }  

      .num{
        font-size: 48px;
        transform: translateY(10px);
      }

    </style>
  </head>
<body>
  <div class="container">
      <h2 class="head">DASHBOARD</h2>
      <div class="detailBox row">
        <div class="detail col-sm-6 col-12 col-lg-4" id="visit"><label class="num"><%= visit %></label><br>Total Visitors</div>
        <div class="detail col-sm-6 col-12 col-lg-4" id="user"><label class="num"><%= user %></label><br>Total Users</div>
        <div class="detail col-sm-6 col-12 col-lg-4" id="scan"><label class="num"><%= scan %></label><br>Total Scans</div>
        <div class="detail col-sm-6 col-12 col-lg-6" id="bounty"><label class="num"><%= bounty %></label><br>Total Bounties</div>
        <div class="detail col-12 col-lg-6" id="gen"><label class="num"><%= gen %></label><br>Total Generate Qr Codes</div>
      </div>
  </div>
</body>
</html>