<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    

    <h2 id="test1">allvisitor: <%= user.allvisitor %></h2>
    <h2>alluser: <%= user.alluser %></h2>
    <h2>allgenerate: <%= user.allgenerate %></h2>
    <h2>allbounty: <%= user.allbounty %></h2>
    <h2>allscan: <%= user.allscan %></h2>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>

</body>
</html>